.WeatherForecast {
  text-align: center;
  margin-top: 30px;;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}

@media(max-width: 500px) {
  .WeatherForecast-day {
    font-size: 14px;
  }
  .WeatherForecast-temperatures {
    font-size: 13px;
  }

}